body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f8ff;
}

.container {
    text-align: center;
    width: 90%;
    /*max-width: 600px;*/
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.autocomplete-list {
    list-style: none;
    padding: 0;
    margin: 0;
    max-height: 150px;
    overflow-y: auto;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.autocomplete-list li {
    padding: 8px;
    cursor: pointer;
    background-color: #fff;
}

.autocomplete-list li:hover {
    background-color: #f0f0f0;
}

#weather-card {
    margin-top: 20px;
    padding: 20px;
    background: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

#temp-chart, .weather-chart {
    width: 100%;
    max-width: 600px;
    height: 300px;
    max-height: 300px;
    margin: 0 auto;
}


.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.modal-content {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    width: 90%;
    max-width: 400px;
}

#weather-blocks, #favorite-blocks {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.weather-block, .weather-fav-block {
    width: calc(33.333% - 20px);
    min-width: 300px;
    background: #f9f9f9;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
}

.weather-block.favorited {
    border: 2px solid #ff9800;
}

button.delete-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: #f44336;
    color: white;
    border: none;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    cursor: pointer;
}

button.favorite-btn {
    position: absolute;
    top: 10px;
    left: 10px;
    background: #ff9800;
    color: white;
    border: none;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    cursor: pointer;
}

@media (max-width: 600px) {
    .weather-block {
        width: 100%;
    }
}

.hidden {
    display: none;
}
