:root {
    --primary-color: #007bff;
    --secondary-color: #ff9800;
    --danger-color: #f44336;
    --hover-color: #0056b3;
    --active-color: #003d80;
    --success-color: #28a745;
    --light-bg-color: #f9f9f9;
    --white-classic: #ffffff;
    --text-color: #333;
    --modal-bg-color: rgba(0, 0, 0, 0.5);
    --shadow-color: rgba(0, 0, 0, 0.1);
}

/* Global styles */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: var(--text-color);
}

.container {
    text-align: center;
    width: 90%;
}

.hidden {
    display: none;
}

.active {
    display: block;
}

/* Title & logo */
.title {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.title h1 {
    color: var(--primary-color);
    animation: colorChange 4s alternate;
    animation-fill-mode: forwards;
}

.title h1 span {
    color: var(--secondary-color);
}

@keyframes colorChange {
    0% {
        color: var(--primary-color);
    }
    50% {
        color: var(--secondary-color);
    }
    100% {
        color: var(--primary-color);
    }
}

.title img {
    width: auto;
    height: 50px;
}

.title img:hover {
    height: 60px;
    transition: height 0.3s;;
}

/* Main buttons */
.main-buttons {
    display: flex;
    justify-content: space-between;
}

.nav-buttons {
    display: flex;
    gap: 20px;
}

.nav-buttons button {
    background-color: var(--primary-color);
    color: var(--white-classic);
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 4px 8px var(--shadow-color);
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.nav-buttons button:hover {
    background-color: var(--hover-color);
    transform: translateY(-3px);
}

.nav-buttons button:active {
    background-color: var(--active-color);
    transform: translateY(1px);
}

#add-block {
    background-color: var(--success-color);
    color: var(--white-classic);
    border: none;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 4px 8px var(--shadow-color);
    transition: background-color 0.3s ease, transform 0.2s ease;
}

#add-block:hover {
    background-color: #218838;
    transform: scale(1.1);
}

#add-block:active {
    background-color: #1e7e34;
    transform: scale(0.95);
}

#add-block.hidden {
    display: none;
}

/* Modal */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--modal-bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.modal-content {
    background: var(--white-classic);
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    width: 90%;
    max-width: 400px;
}

.modal-content button {
    font-size: 16px;
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.modal-content button:active {
    transform: scale(0.98);
}

.modal.hidden {
    display: none;
}

#confirm-delete {
    background-color: var(--success-color);
    color: white;
}

#confirm-delete:hover {
    background-color: #218838;
}

#cancel-delete {
    background-color: var(--danger-color);
    color: white;
}

#cancel-delete:hover {
    background-color: #c82333;
}

/* Weather blocks container & Favorite blocks container */
#weather-blocks, #favorite-blocks {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

#weather-blocks.hidden {
    display: none;
}

#favorites {
    padding: 20px;
    max-width: 1200px;
}

/* Block details weather & favorite */
.weather-block, .weather-fav-block {
    width: calc(33.333% - 20px);
    min-width: 300px;
    background: var(--light-bg-color);
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 6px var(--shadow-color);
    position: relative;
}

.city-name {
    font-size: 18px;
    font-weight: bold;
    color: #343a40;
    margin-top: 10px;
    text-align: center;
}

.weather-info {
    font-size: 14px;
    color: #495057;
    text-align: center;
    width: 100%;
}

.temperature {
    font-size: 56px;
    font-weight: bold;
    color: var(--secondary-color);
}

.temp-feels {
    font-size: 14px;
    margin-bottom: 20px;
}

.weather-description {
    font-size: 18px;
    margin-bottom: 15px;
}

.additional-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.wind, .humidity {
    display: flex;
    align-items: center;
}

.wind-icon, .humidity-icon {
    width: 30px;
    height: 30px;
    margin-right: 5px;
}

/* Favorite block details */
.weather-fav-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    margin: 15px 0;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: var(--light-bg-color);
    box-shadow: 0 1px 5px var(--shadow-color);
    transition: box-shadow 0.3s;
}

.weather-fav-block:hover {
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

.view-mode {
    display: flex;
    margin: 15px 0;
}

.view-btn {
    padding: 8px 12px;
    margin: 0 5px;
    border: 1px solid var(--primary-color);
    background-color: var(--primary-color);
    color: var(--white-classic);
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.view-btn.active {
    background-color: var(--hover-color);
}

.view-btn:hover {
    background-color: var(--hover-color);
}

@media (max-width: 768px) {
    .weather-fav-block {
        padding: 10px;
    }

    .view-mode {
        flex-direction: column;
        align-items: center;
    }

    .view-btn {
        margin: 5px 0;
        width: 100px;
    }
}

/* Weather block details */
.weather-block {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 350px;
    min-width: 300px;
    margin: 20px auto;
    padding: 20px;
    border: 2px solid #e0e0e0;
    border-radius: 12px;
    background: linear-gradient(145deg, var(--white-classic), #f7f7f7);
    box-shadow: 0 4px 10px var(--shadow-color);
    transition: all 0.3s ease;
}

.weather-block:hover {
    border-color: var(--primary-color);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
}

@media (max-width: 600px) {
    .weather-block {
        width: 100%;
    }
}

.weather-block .city-input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    font-size: 16px;
    border: 1px solid #ced4da;
    border-radius: 6px;
    outline: none;
    transition: border-color 0.3s ease;
}

.weather-block .city-input:focus {
    border-color: var(--primary-color);
    box-shadow: 0 0 4px rgba(0, 123, 255, 0.5);
}

/* Buttons on weather block */
button.delete-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: var(--danger-color);
    color: white;
    border: none;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    cursor: pointer;
}

button.favorite-btn {
    position: absolute;
    top: 10px;
    left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
}

.favorite-btn,
.delete-btn {
    padding: 5px 10px;
    margin: 5px;
    font-size: 14px;
    color: var(--white-classic);
    background-color: var(--primary-color);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.favorite-btn:hover{
    background-color: var(--hover-color);
    transform: scale(1.1);
}

.favorite-btn.active {
    background: var(--secondary-color);
}

.delete-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--danger-color);
}

.delete-btn:hover {
    background-color: #c82333;
    transform: scale(1.1);
}

/* Chart.js */
#temp-chart{
    width: 100%;
    max-width: 600px;
    height: 300px;
    max-height: 300px;
}

/* Autocomplete cities list */
.autocomplete-list {
    list-style: none;
    position: absolute;
    top: 75px;
    left: 5%;
    margin: 0;
    padding: 0;
    width: 90%;
    background: var(--white-classic);
    /*border: 1px solid #e0e0e0;*/
    border-radius: 6px;
    box-shadow: 0 2px 8px var(--shadow-color);
    max-height: 200px;
    overflow-y: auto;
}

.autocomplete-list li {
    padding: 8px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.autocomplete-list li:hover {
    background-color: var(--primary-color);
    color: var(--white-classic);
}


/* Loader */
#loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

#loader.hidden {
    display: none;
}

.spinner {
    width: 50px;
    height: 50px;
    border: 6px solid #f3f3f3;
    border-top: 6px solid #3498db;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
